/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Original
*.log
*.buildreport
*.exe
WebGL
.DS_Store
[Bb]uild*/
